<!doctype html>
<html class="no-js" lang="zxx">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> {% block tittle %}Ana Sayfa{% endblock %} </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicons -->
    <link rel="apple-touch-icon " href="{% static 'images/icon.png' %} ">
    <!-- Google font (font-family: 'Lobster', Open+Sans;) -->
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two:400,400i,700,700i " rel="stylesheet ">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800 " rel="stylesheet ">
    <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans " rel="stylesheet ">

    <!-- Stylesheets -->
    <link rel="stylesheet " href="{% static 'css/bootstrap.min.css' %} ">
    <link rel="stylesheet " href="{% static 'css/plugins.css' %} ">
    <link rel="stylesheet " href="{% static 'style.css' %} ">

    <!-- Cusom css -->
    <link rel="stylesheet " href="{% static 'css/custom.css' %} ">

    <!-- Modernizer js -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %} "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
    </script>
    <!-- jQuery UI !-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    {% block head %} {% endblock %}
</head>


<body>

    <!-- Ayarlanmis Body -->
    <div class="wrapper " id="wrapper ">

        {% block header %}{% endblock %} {% block sidebar %}{% endblock %} {% block slider %}{% endblock %} {% block content %}{% endblock %} {% block body %}{% endblock %} {% include 'footer.html' %} {% block foot %} {% endblock %}


    </div>

    <!-- //Ayarlanmis Body bitimi -->

    <!-- JS Files -->

</body>

</html>