{% extends "homebase.html" %}
    {% block tittle %}{{ ayar.baslik }}{% endblock %}
    	{% block head %}
        <link rel="shortcut icon" href='{{ayar.icon.url}}'/>
        {% endblock %}
	{% block header %}
    {% include "header.html" %} {% endblock %}
    {% block content %}
	<!-- Start Bradcaump area -->
	
        <div class="ht__bradcaump__area">
		{% load static %}
            <div class="ht__bradcaump__container">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bradcaump__inner text-center">
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" href="/">Ana Sayfa</a>
                                  <span class="brd-separetor"><img src="{% static 'images/icons/brad.png' %}" alt="separator images"></span>
                                  <span class="breadcrumb-item active">Üye Sayfası</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
		
		<div class="container_contact" >
			{% block uye_panel %} {% include "uye_panel.html" %} {% endblock %}
			<div class="contact" align="center">
			<h1>Şifre Yenileme</h1>
			<br>
			<br>
				<form method="post">
					{% if messages %}
								{% for message in messages %}
									<div class="alert alert-{{message.tags}}" role="alert">
									{{ message|safe }}
									</div>
									{% endfor %}
							{% endif %}
					{% csrf_token %}
						{% for field in form %}
					<p>
					{{field.label_tag }}<br>
					{{field}}
					{% if field.help_text %}
						<small> {{ field.help_text }}</small>
						{% endif %}
					{% for error in field.errors %}
						<p style="color:red">{{error}}</p>
						{% endfor %}
					</p>
					{% endfor %}
                        <input type="submit" id="dugme_gonder" value="Yenile" />
          
</form>
        	</div>
			
			</div>
        <style>
.container_contact {
background-color:lightblue;
width:80%;
margin-left:10%;
height:700px;

}
.contact_f{
	float:left;
	width:20%;
	height:auto;
	border:1px solid #ddd;
	height:100%;

}
.contact_f ul {
margin-top:50px;
width:80%;
background-color:lightgreen;

}
.contact_f ul li {
border:1px solid #ddd;
width:100%;
height:40px;
line-height: 22px;
padding:5px 0 0 0;
margin-bottom:2px;

}
.contact_f ul li a{
font:bold 16px tahoma;
width:150px;
height:40px;
line-height: 22px;

}
.contact{
	float:left;
	width:80%;
	height:auto;

}

.contact input {
  color:#111;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color:#dff;
  border:2px solid lightgreen;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:40%;
  box-sizing: border-box;
  outline:0;
}
#dugme_gonder{
background-color:lightgreen;
}
#dugme_gonder:hover {
background-color:#20cc20;
color:#f2ddcc;
</style>
        <!-- End Contact Form -->
		
 
 
        {% endblock %}