{% extends "homebase.html" %}
    {% block tittle %}{{ ayar.baslik }}{% endblock %}
    	{% block head %}
        <link rel="shortcut icon" href='{{ayar.icon.url}}'/>
        {% endblock %}
	{% block header %}
    {% include "header.html" %} {% endblock %}
    {% block content %}
	<!-- Start Bradcaump area -->
	
        <div class="ht__bradcaump__area">
		{% load static %}
            <div class="ht__bradcaump__container">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bradcaump__inner text-center">
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" href="/">Ana Sayfa</a>
                                  <span class="brd-separetor"><img src="{% static 'images/icons/brad.png' %}" alt="separator images"></span>
                                  <span class="breadcrumb-item active">Üye Sayfası</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
		
		<div class="container_contact" >
			{% block uye_panel %} {% include "uye_panel.html" %} {% endblock %}
			<div class="contact" align="center">
			<h1>Yorumlar</h1>
			<br/>
			{% if messages %}
								{% for message in messages %}
									<div class="alert alert-{{message.tags}}" role="alert">
									{{ message }}
									</div>
									{% endfor %}
							{% endif %}
			<table>
			<tr>
			<td>Isim</td>
			<td>Konu</td>
			<td>Puan</td>
			<td>Yorum</td>
			<td>Onay</td>
			<td>Tarih</td>
			<td>Silme</td>
			</tr>
			{% for rs in comments %}
			<tr>
			<td><a href="/urun/{{rs.product.id}}/{{rs.product.slug}}">{{ rs.product.title}}</td>
			<td>{{ rs.subject }}</td>
			<td>{{ rs.rate }}</td>
			<td>{{ rs.comment }}</td>
			<td>{{ rs.status }}</td>
			<td>{{ rs.create_at }}</td>
			<td><a onclick="return confirm('Silmeyi onaylıyormusunuz?')" id="dugme_gonder"  href="/user/deletecomment/{{rs.id}}">Sil</a></td>
			</tr>
			{% endfor %}
        		</table>
        	</div>
			
			</div>
        <style>
.container_contact {
background-color:lightblue;
width:80%;
margin-left:10%;
height:700px;

	overflow-x:hidden;
	overflow-y:scroll;

}
.contact_f{
	float:left;
	width:20%;
	height:auto;
	border:1px solid #ddd;
	height:100%;

}
.contact_f ul {
margin-top:50px;
width:80%;
background-color:lightgreen;

}
.contact_f ul li {
border:1px solid #ddd;
width:100%;
height:40px;
line-height: 22px;
padding:5px 0 0 0;
margin-bottom:2px;

}
.contact_f ul li a{
font:bold 16px tahoma;
width:150px;
height:40px;
line-height: 22px;

}
.contact{
	float:left;
	width:80%;
	height:auto;

}
.contact table tr td {
  color:#111;
  font:normal 18px calibri;
  border-radius: 5px;
  line-height: 22px;
  background-color:#ddd;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  box-sizing: border-box;
  outline:0;
}
#dugme_gonder{
width:40px;
padding:2px 10px;
border-radius:4px;
border:0px solid green;
background-color:#640000;
color:lightyellow;
}
#dugme_gonder:hover {
background-color:#20cc20;
color:#f2ddcc;
</style>
        <!-- End Contact Form -->
		
 
 
        {% endblock %}