<div class="contact_f" align="center">
			<h1>Uye Panel</h1>
			<ul>
                <li ><a href="/user">Profil</a></li>
                <li><a href="/user/orders/">Siparişlerim</a></li>
                <li><a href="/user/comments/">Yorumlarım</a></li>
                <li><a href="/user/update/">Profil Güncelle</a></li>
                <li><a href="/user/password/">Şifre Yenile</a></li>
                <li style="background-color:#1bf;"><a href="/logout/">Çıkış</a></li>
             </ul>
        	</div>